# Local gitconfig that will be merged with global
# user gitconfig

[user]
    name = AUTHOR_NAME
    email = AUTHOR_EMAIL

# start 1Password signing config
    signingkey = YOUR_1Password_GENERATED_KEY
[gpg]
    format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
    gpgsign = true

# end 1Password signing config
