git/gitconfig.local.symlink

vscode.conf.symlink/workspaceStorage
vscode.conf.symlink/globalStorage
.gitsecret/keys/random_seed
ssh.symlink/config
ssh.symlink/id_rsa
ssh.symlink/id_rsa.pub
ssh.symlink/known_hosts
drone/path.zsh